extends admin

block content
  h1= title
  div(class="col-md-3 pull-right")
    div(class="input-group")
      input(type="text" class="form-control" placeholder="输入搜索内容")
      span(class="input-group-btn")
        button(class="btn btn-info btn-search") 查找

  table(class='table table-striped')
    thead
      tr
        th TopicId
        th TopicName
        th postDate
    thbody
      each acc in data
        tr
          th #{acc.topicid}
          th #{acc.topicname}
          th #{acc.postdate}
          th
            a(href='#')
              img(src='/image/edit.png')
            a(href='#')
              img(src='/image/delete.png')