extends admin

block content
  h1= title
  form(id='search' action='/admin/topic/like' method='post' class="form-horizontal col-md-offset-1")
    div(class="col-md-4 pull-right")
      div(class="input-group")
        input(type="text" name='like' class="form-control" placeholder="输入搜索内容")
        span(class="input-group-btn")
          button(class="btn btn-info btn-search") 查找
  table(class='table table-striped table-hover')
    thead
      tr
        th(width='8%') TopicId
        th(width='16%') TopicName
        th(width='62') Profile
        th(width='14%') State
    thbody
      each acc in data
        tr
          th #{acc.topicId}
          th #{acc.topicName}
          th 
            div(style='white-space: pre-line') #{acc.profile}
          th 
            -if(acc.state==0) 
              p 没有学生选择该课题
            -else if(acc.state==1)
              p 该课题正在进行中
            -else
              p 该课题已完结