doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/common.css')
    link(rel='stylesheet', href='/stylesheets/professor.css')
    link(rel='stylesheet', href='//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css')
  body
    div(class='topBar')
      h4 毕业设计管理系统
    div(class='cc')
      div(class='col-bar')
        block sidebar
          ul(class='sidebar')
            li
              a(href='/prof') Home
            li
              a(href='/prof/topic') Topic
            li
              a(href='/prof/students') Student
            li
              a(href='/prof/paper') Paper
            li
              a(href='/prof/defense') Defense
            li
              a(href='/prof/profile') Profile
      div(class='col-sm-10')
        block content
