extends professor 

block content

  div.hello(id = 'hello')
  div.time(id = 'time')
  hr
  if (defense.length > 0)
    h3 你最近的答辩：#{defense[0].defDate} #{defense[0].defAddress}
  else
    h3 暂时无答辩
  hr
  if (topic[0].topics > 0)
    h3 你有#{topic[0].topics}个课题正在进行
  else
    h3 暂时无课题进行中
  hr
  if (paper[0].papers > 0)
    h3 你有#{paper[0].papers}篇论文未批阅
  else
    h3 暂时无课题进行中

  script.
    function updateTime() {
      var date = new Date();
      var hours = date.getHours();
      var minutes = date.getMinutes();
      var seconds = date.getSeconds();
      var hello;

      if (hours < 6)
        hello = '夜深了';
      else if (hours < 9)
        hello = '早上好';
      else if (hours < 12)
        hello = '上午好';
      else if (hours < 14)
        hello = '中午好';
      else if (hours < 18)
        hello = '下午好';
      else
        hello = '晚上好';
      
      hours = hours < 10 ? '0' + hours : hours;
      minutes = minutes < 10 ? '0' + minutes : minutes;
      seconds = seconds < 10 ? '0' + seconds : seconds;
      var strTime = hours + ':' + minutes + ':' + seconds;

      document.getElementById('time').innerHTML = strTime;
      document.getElementById('hello').innerHTML = hello;
    }
    setInterval(updateTime, 1000);