th span {
    position: relative;
    height: 25px;
    width: 25px;
    margin-right: 20px;
}
span img{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#add_account{
    background-image: url('/image/add.png');
    background-position: left 10px center;
    background-repeat: no-repeat;
    padding-left: 38px; /* 图片宽度 + 间距 */
    background-size: 18px 18px;
}
#add_window {
    display: none;
    position: fixed;
    top: 20%;
    left: 10%;
    right: 0;
    bottom: 0;
    /*transform: translate(-50%, -50%);*/
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    /*background-color: #4cae4c;*/
    width: 600px;
    height: 300px;
    z-index: 8000;
}

#window_close {
    position: absolute;
    top: 0;
    left: 95%;
}
#myAlert {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    z-index: 9000;
}
#edit_window {
    display: none;
    position: fixed;
    top: 20%;
    left: 10%;
    right: 0;
    bottom: 0;
    /*transform: translate(-50%, -50%);*/
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    /*background-color: #4cae4c;*/
    width: 600px;
    height: 250px;
    z-index: 8000;
}

#edit_window_close {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-100%, 0%);
}