* {
  padding: 0;
  margin: 0;
}
/** 重置列表元素 **/
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top left, #f3f4f6 0%, #cee0f8 100%);
  background: linear-gradient(to bottom right, #f3f4f6 0%, #cee0f8 100%);
}

.col-sm-10 {
  position: fixed;
  top: 52px;
	left: 200px;
  /* margin-left: 10px;
  margin-top: 10px; */
}

.topBar {
  position: fixed;
  top: 0px;
	left: 0px;
  width: 100%;
	height: 52px;
  background: -webkit-linear-gradient(left, #94bbeeb5 0%, #d9d5f798 100%);
  background: linear-gradient(to right, #94bbeeb5 0%, #d9d5f798 100%);
  backdrop-filter: blur(10px);
  color: rgb(111, 79, 153);
}

.topBar>h4 {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 22px;
}

.sidebar {
  position: fixed;
  top: 52px;
	left: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 1000px;
  background: -webkit-linear-gradient(top left, #94bbeeb5 0%, #d9d5f798 100%);
  background: linear-gradient(to bottom right, #94bbeeb5 0%, #d9d5f798 100%);
  backdrop-filter: blur(10px);
}

.sidebar>li {
  display: block;
  margin-top: 16px;
  padding: 12px 32px;
}

.sidebar>li>a {
  color: rgb(111, 79, 153);
  font-size: 20px;
}

.sidebar>li:hover {
  background:#8d86f589;
  backdrop-filter: blur(10px);
}

.dialog-class {
  position: fixed;
  width: 450px;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.hello {
  margin-top: 20px;
  font-size: 24px;
}

.time {
  font-size: 64px;
}