* {
  padding: 0;
  margin: 0;
}
/** 重置列表元素 **/
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  background: #cbeade;
}

.col-sm-10 {
  position: fixed;
  top: 52px;
	left: 200px;
  /* margin-left: 10px;
  margin-top: 10px; */
}

.topBar {
  position: fixed;
  top: 0px;
	left: 0px;
  width: 100%;
	height: 52px;
  background: #50a3a2;
  color: rgb(255, 255, 255);
}

.topBar>h4 {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 22px;
}

.sidebar {
  position: fixed;
  top: 52px;
	left: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 1000px;
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
}

.sidebar>li {
  display: block;
  margin-top: 16px;
  padding: 12px 32px;
}

.sidebar>li>a {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.sidebar>li:hover {
  background:#53e3a6;
}

.dialog-class {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hello {
  margin-top: 20px;
  font-size: 24px;
}

.time {
  font-size: 64px;
}